

.entity-ref {
  // display: inline-block;

  * {
    display: inline-block;
  }

  > [class^=prop-member] {
    display: none;
    display: inline-block;
  }

  > [class=prop-member-title] {
    display: inline-block;

    > .prop-name-title {
      display: none;
      display: inline-block;
    }
  }
}