

[class^=entity-ref] {
  display: inline-block;

  * {
    display: inline-block;
  }

  [class^=prop-member] {
    display: none;

    &:is([class^=prop-member-title]) {
      display: inline-block;

      > [class^=prop-name] {
        display: none;
      }
    }
  }

  [class^=class-clarification] {
    // margin: 0em .2em;

    &::before {
      content: " (";
    }
    &::after {
      content: ")";
    }

    &:is(.class-clarification-missing) {
      display: none;
    }
  }

}