

.entity-element {
  width: 100%;
  border: 2px ridge lightgray;
}
/* .entity-element:hover {
  border: 2px ridge lightgray;
} */

.entity-element .initial-content > :first-child {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 120px;
}

.entity-element .initial-content > :first-child > .entity-display {
  display: flex;
  align-items: center;
  margin: auto 20px;
  font-size: 18pt;
}

.entity-element .initial-content > :first-child > .aggregated-score {
  display: grid;
  padding: 10px 0;
  grid-template-rows: auto auto;
}
.entity-element .initial-content .score::before {
  content: "score: ";
}
.entity-element .initial-content .weight::before {
  content: "(weight: ";
}
.entity-element .initial-content .weight::after {
  content: ")";
}


:where(.entity-element:has(
    > .expandable-element > .content > .initial-content:hover
)) > .expandable-element > .collapse-expand-button {
  background-color: lightgray;
}


.entity-reference.fetching::after {
  content: "...";
}