

.entity-element {
  width: 100%;
  border: 2px ridge lightgray;
}
/* .entity-element:hover {
  border: 2px ridge lightgray;
} */

.entity-element .initial-content > :first-child {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 120px;
}

.entity-element .initial-content > :first-child > .entity-display {
  display: flex;
  align-items: center;
  margin: auto 20px;
  font-size: 18pt;
}



:where(.entity-element:has(
    > .expandable-element > .content > .initial-content:hover
)) > .expandable-element > .collapse-expand-button {
  background-color: lightgray;
}


.entity-reference.fetching::after {
  content: "...";
}