


section > :is(h1, h2, h3, h4, h5, h6, :first-child) {
  margin-top: 0.5em;
}



.i-link {
  color: #1d1dff;
  text-decoration: none;
}
.i-link:hover {
  cursor: pointer;
  text-decoration: underline;
}


.hidden {
  display: none;
}

.no-overflow {
  position: relative;
  z-index: 0;
  overflow: hidden;
}


.text-page {
  margin: 0 auto;
  max-width: 50em;
}

.text-frame, .text-display {
  padding: 1.5em 2em;
  border: 4px double #1f627d;
}

.directory-link > a::after {
  content: "/";
}

.monospace {
  font-family: ui-monospace;
}

code {
  display: inline-block;
  white-space: pre;
  color: rgb(15, 29, 29);
  padding-left: 0.5em;
  padding-right: 40px;
  overflow-x: auto;
}

code.command {
  background-color: #303030;
  color: white;
}
code.jsx, code.sql {
  background-color: #eaeaea;
  color: rgb(18, 10, 9);
  border: 2px ridge gray;
}
code.css {
  background-color: #f4f4f4;
  color: rgb(117, 14, 14);
  border: 2px ridge #c6d3ae;
}

ul, ol, li {
  overflow: visible;
}
