

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  background-color: #f8f8f8;
}

.app-header {
  height: 50px;
  font-size: 22px;
  background-color: #d4dfe4;
}
.app-header > .items {
  display: inline-block;
  height: 100%;
  width: calc(100% - 290px);
  text-wrap: nowrap;
  overflow-x: auto;
  scrollbar-gutter: stable both-edges;
}
.app-header > .items > * {
  display: inline-block;
}
.app-header a {
  padding: 6px 10px;
}
.app-header a:hover {
  background-color: #bfc8ce;
  cursor: pointer;
}
.app-header > :first-child {
  display: inline-block;
  font-size: 28px;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  letter-spacing: -0.05em;
}
.app-header > :first-child:hover {
  background-color: unset;
  text-decoration: none;
}


.app-main-container {
  overflow-y: scroll;
  background-color: white;
  margin: 0px 20%;
  padding: 20px 50px;
}
.app-main-container:has(> .open > .app-main > .no-page-margins) {
  margin: 0 0;
  padding: 0 0;
}
@media (max-width: 600px) {
  .app-main-container {
    margin: 0 0;
    padding: 10px 20px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .app-main-container {
    margin: 0px 10%;
    padding: 20px 50px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .app-main-container {
    margin: 0px 15%;
    padding: 20px 50px;
  }
}

section > :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0.5em;
}




.i-link {
  color: #1d1dff;
  text-decoration: none;
}
.i-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.app-header .i-link {
  color: black;
}


.hidden {
  display: none;
}


.text-page {
  margin: 0 auto;
  max-width: 50em;
}

.text-frame, .text-display {
  padding: 1.5em 2em;
  border: 4px double #1f627d;
}

.directory-link > a::after {
  content: "/";
}

.monospace {
  font-family: ui-monospace;
}

code {
  display: inline-block;
  white-space: pre;
  color: rgb(15, 29, 29);
  padding-left: 0.5em;
  padding-right: 40px;
  overflow-x: auto;
}

code.command {
  background-color: #303030;
  color: white;
}
code.jsx, code.sql {
  background-color: #eaeaea;
  color: rgb(18, 10, 9);
  border: 2px ridge gray;
}
code.css {
  background-color: #f4f4f4;
  color: rgb(117, 14, 14);
  border: 2px ridge #c6d3ae;
}

ul, ol, li {
  overflow: visible;
}

.tutorial-list {
  font-size: 25px;
}