

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  background-color: #f8f8f8;
}
.app-main {
  background-color: white;
}

.app-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  background-color: #d4dfe4;
}
.app-header > * {
  padding: 6px 10px;
}
.app-header > :hover {
  background-color: #bfc8ce;
  cursor: pointer;
}
.app-header > :first-child {
  font-size: 30px;
}
.app-header > :first-child:hover {
  background-color: unset;
  text-decoration: none;
}


.app-main {
  overflow-y: scroll;
  margin: 0px 20%;
  padding: 20px 50px;
}
.app-main.full-screen, .app-main:has(> .full-screen) {
  margin: 0 0;
  padding: 0 0;
}

.app-main section {
  margin-top: 2em;
}




.i-link {
  color: #1d1dff;
  text-decoration: none;
}
.i-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.app-header .i-link {
  color: black;
}


.hidden {
  display: none;
}


code {
  white-space: pre;
  color: rgb(15, 29, 29);
}

code.command {
  display: inline-block;
  padding-right: 40px;
  background-color: #303030;
  color: white;
}

ul, ol, li {
  overflow: visible;
}

.tutorial-list {
  font-size: 25px;
}