
.app-frame {
  height: 100%;
  width: 100%;
}


.app-header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 40px;
  font-size: 18px;
  background-color: #d4dfe4;
}
.app-header > .items {
  display: inline-block;
  height: 100%;
  width: calc(100% - 290px);
  text-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-gutter: stable both-edges;
}
.app-header > .items > * {
  display: inline-block;
  height: 100%;
  text-align: center;
}
.app-header a {
  padding: 4px 8px;
  overflow: hidden;
}
.app-header a:hover {
  /* background-color: #bfc8ce; */
  cursor: pointer;
}
.app-header > :first-child {
  display: inline-block;
  margin-right: 5px;
  font-size: 22px;
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  letter-spacing: -0.05em;
}
.app-header > :first-child:hover {
  background-color: unset;
  text-decoration: none;
}

.app-header .i-link {
  color: black;
}


.app-main {
  background-color: #f8f8f8;
  min-height: calc(100vh - 40px);
}
.app-container {
  min-height: calc(100vh - 40px);
  background-color: white;
  margin: 0px 20%;
  padding: 20px 50px;
}
.no-margins > .app-container {
  margin: 0px 0px;
  padding: 0px 0px;
}

@media (max-width: 600px) {
  :not(.no-margins) > .app-container {
    margin: 0 0;
    padding: 10px 20px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  :not(.no-margins) > .app-container {
    margin: 0px 10%;
    padding: 20px 50px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  :not(.no-margins) > .app-container {
    margin: 0px 15%;
    padding: 20px 50px;
  }
}








.account-menu {
  position: absolute;
  right: 5px;
  top: 0px;
  z-index: 3;
}


.account-menu-header {
  text-align: right;
}
.account-menu:not(.open) .account-menu-header:hover {
  cursor: pointer;
}
.account-menu-header img.general-user-icon {
  height: 32px;
  width: 32px;
}
.account-menu-header .user-icon {
  display: inline-block;
  background-color: darkgray;
  height: 32px;
  width: 32px;
  margin: 2px 5px 4px 5px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgb(133, 133, 133),
    -1px -1px 2px rgb(165, 165, 165);
  text-align: center;
}
.account-menu:not(.open) .account-menu-header .user-icon:hover {
  box-shadow: 2px 2px 4px rgb(133, 133, 133),
    -1px -1px 2px rgb(165, 165, 165),
    0px 0px 10px rgb(27, 38, 27);
  cursor: pointer;
}
.account-menu-header .user-name-display {
  display: inline-block;
  margin: 6px 2px 2px 6px;
  color:rgb(67, 67, 255);
  font-size: 17px;
}

.account-menu .items {
  display: none;
}
.account-menu .items > :hover {
  cursor: pointer;
}
.account-menu.open .items {
  display: block;
  background-color: white;
  min-width: 300px;
  border: 2px solid lightblue;
  border-radius: 3px;
}


.account-menu > .items > .inactive {
  pointer-events: none;
  opacity: 0.4;
}


.account-menu.open .items > * {
  width: 100%;
  font-size: 14pt;
  border-bottom: 1px solid lightblue;
}
.account-menu.open .items > *:last-of-type {
  border-bottom: 0px solid blue;
}
.account-menu.open .items > *:hover {
  background-color: lightgray;
}
.account-menu.open .items > * > * {
  margin: 2px;
}


.app-header:has(> .app-header .account-menu.open) + * > .click-blocker {
  position: absolute;
  height: 100%; /* TODO: Account for header height. */
  width: 100%;
  z-index: 1;
}
.app-header:has(> .app-header .account-menu.open) + * {
  opacity: 0.8;
}



.full-page {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.full-page .page-content {
  position: relative;
  left: 30%;
  width: 40%;
}

.full-page .page-content button {
  margin: 6px;
}


.full-page .go-back-button {
  font-size: 40px;
  width: 50px;
  padding: 10px;
  margin: 2px 7px;
}
.full-page .go-back-button::after {
  content: "➜";
  display: inline-block;
  transform: scale(-1, 1);
}
.full-page .go-back-button:hover {
  cursor: pointer;
}


.full-page dt:before {
  content: "";
  display: block;
}
.full-page dt:after {
  content: ":";
  margin-right: 0.4em;
}
.full-page dt, dd {
  display: inline;
}







.warning-container > .warning {
  background-color: rgba(255, 238, 0, 0.411);
  border: 3px ridge rgb(45, 42, 0);
}
.warning-container > .warning > .warning-bar {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: red;
}
.warning-container > .warning.closed > .warning-bar {
  cursor: pointer;
}
.warning-container > .warning > .warning-main {
  padding: 15px;
  button {
    margin-right: 3px;
  }
}
.warning-container > .warning.closed > .warning-main {
  display: none;
}

.app-frame:has(> .warning-container > .warning:not(.closed)) > .app-main {
  pointer-events: none;
  filter: blur(4px);
  opacity: 40%;
}





.page :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}
/* .page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.page > * {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
