


.phishing-warning {
  background-color: rgba(255, 238, 0, 0.411);
  padding: 0.5em;
  border: 3px ridge rgb(45, 42, 0);
}

.phishing-warning > .dismissal-option > * {
  display: inline-block;
  margin: 0 1em;
}

.component-page > .component.blurred {
  pointer-events: none;
  filter: blur(3px);
}