

.entity-list:not(:has(*)):after {
  content: "No elements yet";
  font-style: italic;
  opacity: 70%;
  margin: 4px 10px;
}


.entity-element {
  width: 100%;
  display: grid;
  grid-template-columns: auto 180px;
  border: 2px ridge lightgray;
}

.main-area {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #1d1dff;
  padding: 10px;
  overflow-x: hidden;
}
.main-area:hover {
  cursor: pointer;
  /* background-color: #f0f0f0; */
  text-decoration: underline;
  font-weight: 500;
}

.info-area {
  display: grid;
  grid-template-columns: auto 40px;
  gap: 2px;
  padding: 10px;
}
.info-area > .entity-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.info-area > .entity-page-link > :first-child {
  width: 40px;
  text-align: center;
  border-radius: 6px;
}
.info-area > .entity-page-link > :first-child:hover {
  cursor: pointer;
  background-color: lightgray;
}


.info-area > .ratings {
  display: grid;
  align-items: end;
}