
$moreTabsButtonWidth: 30px;
$moreTabsButtonMargin: 3px;
$hoverColor: lightgray;
$openTabColor: #e7e7e7;

.subpages-with-tabs{

  & > .tab-bar {
    background-image: linear-gradient($openTabColor, #fbfbfb, white);

    & > .tab-bar-header {
      font-size: 10pt;
      &::after {
        content: ':';
      }
    }

    & > .tab-list {
      display: inline-block;
      width: calc(100% - $moreTabsButtonWidth - 2 * $moreTabsButtonMargin);
      & .tab {
        display: inline-block;
        padding: 2px 6px;
        border: 1px solid #9c9c9c;
        &:hover {
          background-color: $hoverColor;
          cursor: pointer;
        }
        &.fetching {
          &::after {
            content: '...';
          }
          color: #808080;
        }
        &.missing {
          &::after {
            content: 'missing';
          }
          color: #ffc107;
          font-style: italic;
        }
        &:not(.loaded) {
          color: #274f88;
        }
        &.loaded {
          font-style: normal;
        }
        &.open {
          background-color: $openTabColor;
          border: 1px solid #3b3b3b;
          border-bottom-width: 0px;
        }
      }
    }

    & > .more-tabs-button {
      &::after {
        content: '\2304';
      }
      text-align: center;
      display: inline-block;
      width: $moreTabsButtonWidth;
      height: 100%;
      margin: 0 $moreTabsButtonMargin;
      border: 1px solid #b9b9b9;
      &:hover {
        background-color: $hoverColor;
      }
    }
  }


  & > hr {
    margin: 0 0 0px;
  }
}
