
html, body, body > main {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
body > header {
    background-color: #F8F8FB;
}
body > main {
    flex-grow: 1;
}
body > main > iframe {
    height: 100%;
    width: 100%;
}
body > footer {
    flex-grow: 0;
}


body > header {
    background-color: turquoise;
}
body > header > h2 {
    padding: 10px 10px 5px;
}
