div.universalQuantifierFormula,
div.existentialQuantifierFormula,
div.negationFormula,
div.conjunctionFormula,
div.disjunctionFormula,
div.implicationFormula,
div.biconditionalFormula,
div.atomicFormula,
div.compoundElement,
div.atomicElement,
div.anonymousFunction,
div.list,
div.length {
    display: inline;
    /* background-color:  */
}


html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
body > header {
    background-color: turquoise;
}
body > header > h2 {
    padding: 10px 10px 5px;
}

/* This doesn't work for whatever reason.. * /
#upaFrame {
    .nav-tabs > li > a {
        margin: 100px;
        padding: 0px;
    }
}
/* ..Ah but this does: * /
.nav-tabs > li > a {
    padding: 7px 12px;
} */
/* Does this work..?: * /
#upaFrame .nav-tabs > li > a {
    padding: 7px 12px;
}
/* ..Yes..(??..) */
