div.universalQuantifierFormula,
div.existentialQuantifierFormula,
div.negationFormula,
div.conjunctionFormula,
div.disjunctionFormula,
div.implicationFormula,
div.biconditionalFormula,
div.atomicFormula,
div.compoundElement,
div.atomicElement,
div.anonymousFunction,
div.list,
div.length {
    display: inline;
    /* background-color:  */
}


html, body, body > main {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body > main .full-height {
    height: 100%;
}
body {
    background-color: #F8F8FB;
}

body > header {
    background-color: turquoise;
}
body > header > h2 {
    padding: 10px 10px 5px;
}
